.navbar{
    border-bottom: solid 5px #027EBD;
    opacity: .6;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.705) , rgba(0, 0, 0, 0.705)) , url(../images/home.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    background-color: #333;
}